@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&display=swap');
@media screen and (max-width: 767.5px) {
    
/*全体共通*/

/*top 開始*/
    .main-container{
        width: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 0;
        overflow: hidden;
    }
        .top-content-back{
            width: 100%;
            height: 790px;
            background-image:url("/img/starnaight_sp.png");
            background-size: cover;
            overflow: hidden;
        }
            .top-content{
                width: 100%;
                min-width: 375px;
                text-align: center;
                position: absolute;
                top:200px ;
                margin: auto;
                
            }
            .top-catchcopy{
                width: 100%;
                margin: 0 0 0 0px;
            }

                .top-catchcopy h2{
                    display: flex;
                    width: 48px;
                    margin: auto;
                    flex-direction: column;
                    font-size: 32px;
                    font-weight: 300;
                    line-height: 50px;
                    writing-mode: vertical-lr;
                    
                }

                .sns-icon{
                    width: 250px;
                    height:50px;
                    display: flex;
                    justify-content: space-between;
                    margin: 140px auto;
                }
                .sns-icon a{
                    width: 50px;
                    height: 50px;
                }
/*top 修了*/

/*about 開始*/
.about-title{
    width: 100%;
    min-width: 375px;
    text-align: center;
    font-family: "Montserrat";
    position: relative;
    margin-top: 92px;
    margin-bottom: 50px;

}
    .about-title h2{
        font-weight: 400;
        font-size: 50px;
        width: 236px;
        margin: 0 auto;
        overflow: hidden;
    }
        .about-title h2::before{
            content: "";
            position: absolute;
            width: 25%;
            height: 5px;
            background-color: #FFFFFF;
            overflow: hidden;
            left: -40%;
            top: 50%;
            transition: all 1s;
            opacity: 0;
            
        }
            .about-title h2.active::before{
                content: "";
                position: absolute;
                width: 25%;
                height: 5px;
                background-color: #FFFFFF;
                overflow: hidden;
                left: 0;
                top: 50%;
                opacity: 1;
            }

        .about-title h2::after{
            content: "";
            position: absolute;
            width: 25%;
            height: 5px;
            background-color: #FFFFFF;
            overflow: hidden;
            right: -40%;
            top: 50%;
            transition: all 1s;
            opacity: 0;
        } 
            .about-title h2.active::after{
                content: "";
                position: absolute;
                width: 25%;
                height: 5px;
                background-color: #FFFFFF;
                overflow: hidden;
                right: 0;
                top: 50%;
                opacity: 1;
            }

.about-subtitle{
    width: 85.33%;
    text-align: center;
    margin:0 auto 35px auto;
}  
    .about-subtitle h3{
        font-weight: 400;
        font-size: 20px;
        font-family: "Kiwi Maru";
    }

.about-content-main{
    display: flex;
    flex-direction: column;
    width: 82.93%;
    margin: 0 auto 90px auto;
}
    .about-pic{
        width: 100%;
        height: 100%;
        margin-right: 52px;
    }

    .about-text{
        width: 100%;
        margin:35px auto 0 auto;
    }

        .about-text dl{
            display: flex;
            flex-direction: row;
            font-family: "Kiwi Maru";
            font-weight: 400;
            font-size: 16px;
        }
            .about-text dl dt{
                width: 40.8%;
            }
            .about-text dl dd{
                width: 80%;
            }
            .about-text p{
                width: 100%;
                font-family: "Kiwi Maru";
                font-size: 26px;
                font-weight: 400;
                margin-top: 50px;
            }


/*about 修了*/

/*service 開始*/
.service-title{
    width: 100%;
    text-align: center;
    font-family: "Montserrat";
    position: relative;
    margin-top: 0px;
    margin-bottom: 82px;

}
    .service-title h2{
        font-weight: 400;
        font-size: 50px;
        width: 236px;
        margin: 0 auto;
        overflow: hidden;
    }
        .service-title h2::before{
            content: "";
            position: absolute;
            width: 20%;
            height: 5px;
            background-color: #FFFFFF;
            overflow: hidden;
            left: -20%;
            top: 50%;
            transition: all 1s;
            opacity: 0;
            
        }
            .service-title h2.active::before{
                content: "";
                position: absolute;
                width: 20%;
                height: 5px;
                background-color: #FFFFFF;
                overflow: hidden;
                left: 0;
                top: 50%;
                opacity: 1;
            }

        .service-title h2::after{
            content: "";
            position: absolute;
            width: 20%;
            height: 5px;
            background-color: #FFFFFF;
            overflow: hidden;
            right: -20%;
            top: 50%;
            transition: all 1s;
            opacity: 0;
        } 
            .service-title h2.active::after{
                content: "";
                position: absolute;
                width: 20%;
                height: 5px;
                background-color: #FFFFFF;
                overflow: hidden;
                right: 0;
                top: 50%;
                opacity: 1;
            }

    .service-box{
        width:100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    } 
        .service-box-line{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 0 auto;
        }
            .service-box-border{
                width: 321px;
                height: 650px;
                border: 5px solid #D9D9D9;
                margin-bottom: 60px;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
            }
                .box-title{
                    width: 80%;
                    margin: 0 auto;
                    text-align: center;
                }

                    .box-title h3{
                        font-size: 35px;
                        font-family: "Kiwi Maru";
                        font-weight: 400;
                        margin: 30px auto 10px auto;
                    }

                    .box-title h4{
                        font-family: "Montserrat";
                        font-weight: 400;
                        font-size: 24px;
                        word-wrap: break-word;
                    }
                .box-icon{
                    display: flex;
                    flex-direction: row;
                    margin: 50px auto 58px auto;
                }
                    .box-icon img{
                        width: 100px;
                        height: 100px;
                    }
                
                .box-text{
                    width: 274px;
                    height: 300px;
                    margin:0 auto;
                }
                    .box-text p{
                        font-family: "Kiwi Maru";
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 34px;
                    }


/*service 終了*/
/*works 開始*/
.works-title{
    width: 100%;
    text-align: center;
    font-family: "Montserrat";
    position: relative;
    margin-top: 98px;
    margin-bottom: 82px;

}
    .works-title h2{
        font-weight: 400;
        font-size: 50px;
        width: 236px;
        margin: 0 auto;
        overflow: hidden;
    }
        .works-title h2::before{
            content: "";
            position: absolute;
            width: 20%;
            height: 5px;
            background-color: #FFFFFF;
            overflow: hidden;
            left: -20%;
            top: 50%;
            transition: all 1s;
            opacity: 0;
            
        }
            .works-title h2.active::before{
                content: "";
                position: absolute;
                width: 20%;
                height: 5px;
                background-color: #FFFFFF;
                overflow: hidden;
                left: 0;
                top: 50%;
                opacity: 1;
            }

        .works-title h2::after{
            content: "";
            position: absolute;
            width: 20%;
            height: 5px;
            background-color: #FFFFFF;
            overflow: hidden;
            right: -20%;
            top: 50%;
            transition: all 1s;
            opacity: 0;
        } 
            .works-title h2.active::after{
                content: "";
                position: absolute;
                width: 20%;
                height: 5px;
                background-color: #FFFFFF;
                overflow: hidden;
                right: 0;
                top: 50%;
                opacity: 1s;
            }
    .works-box{
        width:84.8%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    } 
        .works-box-line{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
            .works-box-border{
                width: 300px;
                height: 382px;
                margin: 0 auto 60px auto;
            }
            .works-box-border-etc{
                width: 300px;
                height: 382px;
                margin: 0 auto 60px auto;
                white-space:inherit;
            }
                .box-worksicon{
                    width: 100%;
                    margin: 0 auto;
                }
                    .box-worksicon img{
                        width: 300px;
                        height: 300px;
                        margin: 0 auto;
                    }
                .box-workstitle{
                    text-align: center;
                }

                    .box-workstitle h3{
                        font-family: "Kiwi Maru";
                        font-weight: 400;
                        font-size: 24px;
                        width: 100%;
                        margin-top: 10px;
                        
                    }
                    .box-workstitle h4{
                        font-family: "Montserrat";
                        font-weight: 400;
                        font-size: 16px;
                        width: 100%;
                        margin-top: 10px;
                        
                    }
                    .box-workstitle-etc h3{
                        font-family: "Kiwi Maru";
                        font-weight: 400;
                        font-size: 24px;
                        width: 100%;
                        margin-top: 50px;
                        
                    }
                    .box-workstitle-etc h4{
                        font-family: "Montserrat";
                        font-weight: 400;
                        font-size: 16px;
                        width: 100%;
                        margin-top: 10px;
                        
                    }

/*works 修了*/

/*contact 開始*/
.contact-title{
    width: 100%;
    text-align: center;
    font-family: "Montserrat";
    position: relative;
    margin-top: 209px;
    margin-bottom: 60px;

}
    .contact-title h2{
        font-weight: 400;
        font-size: 50px;
        width: 236px;
        margin: 0 auto;
        overflow: hidden;
    }
        .contact-title h2::before{
            content: "";
            position: absolute;
            width: 18%;
            height: 5px;
            background-color: #FFFFFF;
            overflow: hidden;
            left: -18%;
            top: 50%;
            transition: all 1s;
            opacity: 0;
            
        }
            .contact-title h2.active::before{
                content: "";
                position: absolute;
                width: 18%;
                height: 5px;
                background-color: #FFFFFF;
                overflow: hidden;
                left: 0;
                top: 50%;
                opacity: 1;
            }

        .contact-title h2::after{
            content: "";
            position: absolute;
            width: 18%;
            height: 5px;
            background-color: #FFFFFF;
            overflow: hidden;
            right: -18%;
            top: 50%;
            transition: all 1s;
            opacity: 0;
        } 
            .contact-title h2.active::after{
                content: "";
                position: absolute;
                width: 18%;
                height: 5px;
                background-color: #FFFFFF;
                overflow: hidden;
                right: 0;
                top: 50%;
                opacity: 1;
            }

        .contact-box{
            width:65%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        } 
            .inquiry1{
                display: flex;
                flex-direction: column;
            }
            .inquiry2{
                display: flex;
                flex-direction: column;
            }
            .inquiry3{
                display: flex;
                flex-direction: column;
            }
            .inquiry4{
                display: flex;
                flex-direction: column;
            }
                .labelset{
                    width: 227px;
                    height: 56px;
                    margin-bottom: 20px;
                }
                    .inquiryleft{
                        font-family: "Montserrat";
                        font-weight: 400;
                        font-size: 36px;
                    }
                    .inquiryright{
                        width: 100%;
                        margin-bottom: 60px;
                    }

                    input#title{
                        width:100%;
                        background-color: #F4F4F4;
                        height: 56px;
                        border-radius: 10px;
                        border:#D9D9D9 solid 5px;
                    }
                    input#telnum{
                        width:100%;
                        background-color: #F4F4F4;
                        height: 56px;
                        border-radius: 10px;
                        border:#D9D9D9 solid 5px;
                    }
                    input#mail{
                        width:100%;
                        background-color: #F4F4F4;
                        height: 56px;
                        border-radius: 10px;
                        border:#D9D9D9 solid 5px;
                    }
                    input#message{
                        width:100%;
                        background-color: #F4F4F4;
                        height: 286px;
                        border-radius: 10px;
                        border:#D9D9D9 solid 5px;
                    }
            .button2{
                width: 246px;
                height: 100px;
                background-color: rgba(241,21,21,0.5);
                border: #D9D9D9 solid 5px;
                border-radius: 10px;
                margin:100px auto 78px auto;
            }     
                .buttonmiddle2{
                margin: 21px auto;
                text-align: center;
                }
                    #lastbutton1{
                        color: #FFFFFF;
                        font-size: 36px;

                    }
/*contact 修了*/
/*footer 開始*/
    .footer{
        font-family: "Montserrat";
        font-size: 24px;
        font-weight: 400;
        margin: 0 auto 52px auto;
        text-align: center;
    }
/*footer 修了*/
}